<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>88808369396-33l1gdoktmvafrl2ri68a7m88nk8l18a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88808369396-33l1gdoktmvafrl2ri68a7m88nk8l18a</string>
	<key>API_KEY</key>
	<string>AIzaSyCQYeb0fw4RPJiKZXimGFPrfCf1T2p7InY</string>
	<key>GCM_SENDER_ID</key>
	<string>88808369396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafaTrujillo.WhatChatApp</string>
	<key>PROJECT_ID</key>
	<string>swift-4</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:88808369396:ios:24aeda65941feecf</string>
	<key>DATABASE_URL</key>
	<string>https://swift-4.firebaseio.com</string>
</dict>
</plist>